In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("dirtybmi_22.csv")
df.head()

      Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0  Fema   le  15    8     89      4         NaN         NaN    158   158
1  Fema   le  15    8     89      4         NaN         NaN    158   158
2     Female      178    127      4         NaN         NaN    178   178
3     Female     none    139      5         NaN         NaN   none  none
4     Female     none    104      5         NaN         NaN    181   181

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("dirtybmi_22.csv")
mapping={
    'True':1,
    'False':0,
    'Female':1,
    'Male':0
}
df['Gender'].map(mapping)
print(df)

        Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]

In [53]:
data={
    'integers':[3,5,7,10,12]
}
df=pd.DataFrame(data)
df['range']=df['integers'].apply(lambda x:range(x))
print(df)

   integers                                   range
0         3                               (0, 1, 2)
1         5                         (0, 1, 2, 3, 4)
2         7                   (0, 1, 2, 3, 4, 5, 6)
3        10          (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
4        12  (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv("dirtybmi_22.csv")
df['Gender']=df['Gender'].astype('category')
df['Height']=df['Height'].astype('string')
df['Weight']=df['Weight'].astype('string')
df['Index']=df['Index'].astype('int')
df['female']=df['female'].astype('category')
df['male']=df['male'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      404 non-null    category
 1   Height      404 non-null    string
 2   Weight      404 non-null    string
 3   Index       404 non-null    int32
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   female      204 non-null    category
 7   male        204 non-null    category
dtypes: category(3), float64(2), int32(1), string(2)
memory usage: 20.9 KB

In [7]:
data={
    'Name':  ['   Rose   ','   Jane   ','  Charlie  ','  Faith  '],
    'City':  ['   Makueni  ','  Kwavonza  ','  Kitui  ','  Mselele  ']
}
df=pd.DataFrame(data)
print("original DataFrame:")
print(df)

original DataFrame:
          Name          City
0      Rose        Makueni
1      Jane       Kwavonza
2    Charlie         Kitui
3      Faith       Mselele

In [29]:
df['Name']=df['Name'].str.strip()
df['City']=df['City'].str.strip()
print("\nTrimmed DataFrame:")
print(df)

Trimmed DataFrame:
      Name      City
0     Rose   Makueni
1     Jane  Kwavonza
2  Charlie     Kitui
3    Faith   Mselele

In [37]:
import pandas as pd
from scipy import stats
csv_file='childhealthdata.csv'
df=pd.read_csv(csv_file)
height_min, height_max=50,110
weight_min, weight_max=4,20
out_of_range_height=df[(df['height'] < height_min) | (df['height'] >height_max)]
out_of_range_weight=df[(df['weight'] < weight_min) | (df['weight'] > weight_max)]
print("\nRow with out_of_range 'height':")
print(out_of_range_height)
print("\nRow with out_of_range 'weight':")
print(out_of_range_weight)

Row with out_of_range 'height':
     Child participated in POLIO campaign August 2013  diarrhea_status  \
43                                                  1               No
103                                                 1               No
127                                                 1               No
158                                                 1               No
396                                                 1               No
450                                                 1               No
456                                                 2               No
531                                                 1               No
577                                                 2               No
678                                                 1               No
733                                                 1               No
757                                                 1               No
795                                                 2               No

     weight  height residence     Sex  age age_category   education  \
43     20.5   112.0     Rural    Male   53        48-59     Primary
103    14.6   114.3     Rural    Male   56        48-59     Primary
127    20.3   110.4     Rural  Female   50        48-59     Primary
158    13.3   111.9     Rural    Male   58        48-59  Secondary+
396    19.3   112.8     Urban    Male   56        48-59  Secondary+
450    12.0   124.8     Rural    Male   52        48-59     Primary
456     3.2    48.2     Rural  Female    0          0-5     Primary
531    20.1   110.1     Rural    Male   58        48-59  Secondary+
577     4.8    48.2     Rural  Female    1          0-5     Primary
678    18.2   112.7     Urban  Female   50        48-59  Secondary+
733    18.7   112.1     Urban  Female   58        48-59  Secondary+
757    19.9   117.9     Urban  Female   58        48-59     Primary
795     3.5    45.0     Urban    Male    0          0-5  Secondary+

    wealth_index
43       Richest
103       Fourth
127       Middle
158       Middle
396      Richest
450       Middle
456      Poorest
531       Second
577      Poorest
678      Poorest
733       Fourth
757       Second
795       Fourth

Row with out_of_range 'weight':
     Child participated in POLIO campaign August 2013  diarrhea_status  \
43                                                  1               No
127                                                 1               No
150                                                 2               No
334                                                 2              Yes
456                                                 2               No
493                                                 2               No
494                                                 2               No
531                                                 1               No
548                                                 2              Yes
627                                                 1               No
795                                                 2               No

     weight  height residence     Sex  age age_category   education  \
43     20.5   112.0     Rural    Male   53        48-59     Primary
127    20.3   110.4     Rural  Female   50        48-59     Primary
150     3.8    62.3     Rural    Male    4          0-5     Primary
334     3.2    71.4     Urban    Male    7       11-Jun     Primary
456     3.2    48.2     Rural  Female    0          0-5     Primary
493     3.1    51.0     Rural    Male    2          0-5         NaN
494     3.1    51.5     Rural  Female    2          0-5         NaN
531    20.1   110.1     Rural    Male   58        48-59  Secondary+
548     3.5    58.0     Rural    Male    0          0-5  Secondary+
627    25.0    98.5     Rural    Male   37        36-47  Secondary+
795     3.5    45.0     Urban    Male    0          0-5  Secondary+

    wealth_index
43       Richest
127       Middle
150       Second
334       Middle
456      Poorest
493      Poorest
494      Poorest
531       Second
548       Fourth
627      Poorest
795       Fourth

In [39]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_22.csv')
duplicates=df.duplicated()
print(duplicates)

0      False
1       True
2      False
3      False
4      False
       ...
399    False
400    False
401    False
402    False
403    False
Length: 404, dtype: bool

In [2]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_22.csv')
df.drop_duplicates
clean=df.drop_duplicates
print(clean)

<bound method DataFrame.drop_duplicates of         Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]>

In [3]:
import pandas as pd
df['Gender']=df['Gender'].str.strip()
df['Weight']=df['Weight'].str.strip()
print("\nTrimmed DataFrame:")
print(df)

Trimmed DataFrame:
        Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]

In [12]:
import pandas as pd
data={
    'patient ID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'Gender':['Female','Male','other','unknown'],#"unknown" is invalid
    'Bloog Type':['A+','B-','O+','AB-'],#All valid
    'Diagnosis code':['A00','B99','C30','XYZ']
}
df=pd.DataFrame(data)
df.head

<bound method NDFrame.head of    patient ID     Name   Gender Bloog Type Diagnosis code
0           1    Alice   Female         A+            A00
1           2      Bob     Male         B-            B99
2           3  Charlie    other         O+            C30
3           4    David  unknown        AB-            XYZ>

In [6]:
valid_genders={'Male','Female','other'}
valid_blood_types={'A+','A-','B+','B-','O+','O-','AB+','AB-'}
valid_dignosis_codes={'A00','B99','C30'}
df.head

<bound method NDFrame.head of    patient ID     Name   Gender Bloog Type Diagnosis code
0           1    Alice   Female         A+            A00
1           2      Bob     Male         B-            B99
2           3  Charlie    other         O+            C30
3           4    David  unknown        AB-            XYZ>

In [13]:
def check_membership(value,valid_set):
    if value not in valid_set:
        return False
    return True
def validate_health_data(df):
    invalid_rows=[]
    for index,row in df.interrows():
        errors={}
        if not check_membership(row['Gender'],valid_genders):
            errors['Gender']=row['Gender']
        if not check_membership(row['Blood Type'],valid_blood_type):
            errors['Blood Type']=row['Blood Type']
        if not check_membership(row['Diagnosis code'],valid_diagnosis_code):
            errors['Diagnosis code']=row['Diagnosis code']

In [17]:
df_cleaned=df.drop(index=[entry['index']for entry in invalid_entries])
for entry in invalid_entries:
    for field in entry['errors']:
        if field=='Gender':
            df.at[entry['index'],field]='other'
        elif field=='Diagnosis code':
            df.at[entry['index'],field]='A00'
print("\ncleaned DataFrame:")
print(df_cleaned)

NameError: name 'invalid_entries' is not defined

In [27]:
import pandas as pd
data={
    'EmployeeID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'Age':[30,25,40,22],
    'Years of Experience':[5,27,15,1]
}
df=pd.DataFrame(data)
#cross-field validation function
def validate_experience(row):
   if row['Years of Experience']>row['Age']:
       return False
       return True
df['Is Valid']=df.apply(validate_experience,axis=1)
invalid_rows=df[df['Is Valid']==False]
print("Invalid Rows:")
print(invalid_rows)

Invalid Rows:
   EmployeeID Name  Age  Years of Experience Is Valid
1           2  Bob   25                   27    False

In [32]:
import pandas as pd
data={
    'Start Date':['2023-01-01','2023-02-01','2023-03-01'],
    'End Date':['2023-01-10','2023-10-15','2023-04-01']
}
df=pd.DataFrame(data)
df['Start Date']=pd.to_datetime(df['Start Date'])
df['End Date']=pd.to_datetime(df['End Date'])

In [33]:
df['Valid']=df['Start Date']<df['End Date']
print(df)
invalid_rows=df[~df['Valid']]
if not invalid_rows.empty:
    print("Invalid rows found:")
    print(invalid_rows)
else:
    print("All rows are valid.")

  Start Date   End Date  Valid
0 2023-01-01 2023-01-10   True
1 2023-02-01 2023-10-15   True
2 2023-03-01 2023-04-01   True
All rows are valid.

In [37]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_22.csv')
def validate_Height(row):
    if row['Height']>row['Weight']:
     return False
     return True
df['Is Valid']=df.apply(validate_Height,axis=1)
invalid_rows=df[df['Is Valid']==False]
print("Invalid Rows")
print(invalid_rows)

Invalid Rows
        Gender Height    Weight  Index  Unnamed: 4  Unnamed: 5 female  male  \
2       Female    178       127      4         NaN         NaN    178   178
3       Female   none       139      5         NaN         NaN   none  none
4       Female   none       104      5         NaN         NaN    181   181
7    Fe   male    146  10     8      4         NaN         NaN    146   146
8       Female    173       130      5         NaN         NaN    173   173
..         ...    ...       ...    ...         ...         ...    ...   ...
398       Male    186       117      4         NaN         NaN    NaN   NaN
400       Male    164       130      5         NaN         NaN    NaN   NaN
401       Male    185       138      5         NaN         NaN    NaN   NaN
402       Male    188       158      5         NaN         NaN    NaN   NaN
403       Male    161       155      5         NaN         NaN    NaN   NaN

    Is Valid
2      False
3      False
4      False
7      False
8      False
..       ...
398    False
400    False
401    False
402    False
403    False

[212 rows x 9 columns]

In [38]:
import pandas as pd 
import numpy as np
data={
    'A':[1,2,np.nan,4,5],
    'B':[5,np.nan,np.nan,8,10],
    'C':[np.nan,2,3,4,np.nan],
    'D':['dog','cat','np.nan','mouse','rabbit']
}

In [39]:
df=pd.DataFrame(data)
print("original DataFrame:")
print(df)

original DataFrame:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   NaN  2.0     cat
2  NaN   NaN  3.0  np.nan
3  4.0   8.0  4.0   mouse
4  5.0  10.0  NaN  rabbit

In [43]:
print("\nDetect missing values:")
print(df.isnull())
df_dropna=df.dropna()
print("\nDataFrame after dropping rows with any missing values:")

Detect missing values:
       A      B      C      D
0  False  False   True  False
1  False   True  False  False
2   True   True  False  False
3  False  False  False  False
4  False  False   True  False

DataFrame after dropping rows with any missing values:

In [44]:
df_dropna_subset=df.dropna(subset=['A','B'])
print("\nDataFrame after dropping rows with missing values in colums 'A','B':")
print(df_dropna_subset)

DataFrame after dropping rows with missing values in colums 'A','B':
     A     B    C       D
0  1.0   5.0  NaN     dog
3  4.0   8.0  4.0   mouse
4  5.0  10.0  NaN  rabbit

In [46]:
df_fillna=df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_fillna)

DataFrame after filling missing values with 0:
     A     B    C       D
0  1.0   5.0  0.0     dog
1  2.0   0.0  2.0     cat
2  0.0   0.0  3.0  np.nan
3  4.0   8.0  4.0   mouse
4  5.0  10.0  0.0  rabbit

In [47]:
df_fillna_mean=df.fillna(df.mean(numeric_only=True))
print("\nDataFrame after filling missing values with column mean:")
print(df_fillna_mean)

DataFrame after filling missing values with column mean:
     A          B    C       D
0  1.0   5.000000  3.0     dog
1  2.0   7.666667  2.0     cat
2  3.0   7.666667  3.0  np.nan
3  4.0   8.000000  4.0   mouse
4  5.0  10.000000  3.0  rabbit

In [48]:
df_ffill=df.ffill()
print("\nDataFrame after forward fill:")
print(df_ffill)

DataFrame after forward fill:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   5.0  2.0     cat
2  2.0   5.0  3.0  np.nan
3  4.0   8.0  4.0   mouse
4  5.0  10.0  4.0  rabbit

In [50]:
df_interpolate=df.interpolate()
print("\nDataFrame after interpolate:")
print(df_interpolate)

DataFrame after interpolate:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   6.0  2.0     cat
2  3.0   7.0  3.0  np.nan
3  4.0   8.0  4.0   mouse
4  5.0  10.0  4.0  rabbit

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9608\2876078083.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolate=df.interpolate()